#temp{
  font-size: 50px;
  color: #999999;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
#top{
   display: inline-block;
   vertical-align: middle;
   margin-left: 20px;
}
#top a{
     color: #FFFFFF;
     font-family: 'M PLUS 1p', sans-serif;
     font-size: 15px;
}
#top a:hover{
  color: #999999;
  transition-duration: 0.5s;
}
#top_icon{
  display: inline-block;
  vertical-align: middle;
}
#top_a{
  background-color: #000000;
  height: 50px;
}
