li{
  list-style: none;
}
a{
  text-decoration: none;
}
#top{
   display: inline-block;
   vertical-align: middle;
   margin-left: 20px;
}
#top a{
     color: #FFFFFF;
     font-family: 'M PLUS 1p', sans-serif;
     font-size: 20px;
}
#top a:hover{
  color: #999999;
  transition-duration: 0.5s;
}
#top_icon{
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
#top_a{
  background-color: #000000;
  height: 50px;
}
#links{
  background-color: #444444;
}
#links_i{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
#links_i a{
     color: #FFFFFF;
     font-family: 'M PLUS 1p', sans-serif;
     font-size: 15px;
}
#links a:hover{
  color: #999999;
  transition-duration: 0.5s;
}
#ptitle{
  font-size: 30px;
  margin-left: px;
  color: #cccccc;
  font-family: 'M PLUS 1p', sans-serif;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
#ptitle2{
  transform: translateY(80px);
}
